﻿
@{
    Layout = null;
}

@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
---- Include the above in your HEAD tag --------

<!doctype html>
<html lang="en">
<head>
     Required meta tags 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     Fonts 
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="Favicon.png">

     Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Geocoding</title>
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="#">Geocode</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Giriş Yap</div>
                        <div class="card-body">
                            @using (Html.BeginForm("Token", "Login", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">Kullanıcı Adı</label>
                                    <div class="col-md-6">
                                        <input type="text" id="Username" class="form-control" name="username" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Şifre</label>
                                    <div class="col-md-6">
                                        <input type="password" id="Password" class="form-control" name="password" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6 offset-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="remember"> Beni Hatırla
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Giriş Yap
                                    </button>
                                    <a href="#" class="btn btn-link">
                                        Şifremi Unuttum?
                                    </a>

                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>*@



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Paneli Giriş | Tezmaksan Lokasyon Bul">
    <meta name="author" content="Tezmaksan">
    <meta name="keyword" content="Admin Paneli Giriş | Tezmaksan Lokasyon Bul">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Admin Paneli Giriş Sayfası</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/NiceAdmin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Content/NiceAdmin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/NiceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/NiceAdmin/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Content/NiceAdmin/css/style.css" rel="stylesheet">
    <link href="~/Content/NiceAdmin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body class="login-img3-body">
    <div class="container">
        @using (Html.BeginForm("Token", "Login", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" id="Username" name="username" placeholder="Kullanıcı Adı" autofocus="">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" id="Password" name="password" placeholder="Şifre">
                </div>
                @*<label class="checkbox">
                    <input type="checkbox" value="remember-me"> Beni Hatırla
                    <span class="pull-right"> <a href="#"> Şifremi Unuttum?</a></span>
                </label>*@
                <button class="btn btn-primary btn-lg btn-block" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Giriş Yap</button>
                <br /><br />
                <div class="form-group m-b-0 m-t-10 ">
                    <div class="col-sm-12 text-center ">
                        Henüz kayıt olmadınız mı? <a href="/Login/Register" class="text-info m-l-5 "><b>Kayıt Ol</b></a>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
