﻿<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">

    <title>Anasayfa | Lokasyon Bul</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/NiceAdmin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Content/NiceAdmin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/NiceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/NiceAdmin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Content/NiceAdmin/css/style.css" rel="stylesheet">
    <link href="~/Content/NiceAdmin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
        <script src="~/Content/NiceAdmin/js/html5shiv.js"></script>
        <script src="~/Content/NiceAdmin/js/respond.min.js"></script>
        <script src="~/Content/NiceAdmin/js/lte-ie7.js"></script>
      <![endif]-->
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">
        <!--header start-->

        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/Admin/Index" class="logo">Lokasyon <span class="lite">Bul</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Ara.." type="text">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="username">@ViewBag.Name</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li>
                                <a href="/Login/Login"><i class="icon_key_alt"></i> Çıkış Yap</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="">
                        <a class="" href="/Admin/Index">
                            <i class="icon_house_alt"></i>
                            <span>Anasayfa</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="" href="/Admin/Liste"><i class="fa fa-list" aria-hidden="true"></i> Lokasyon Listesi</a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa fa-bars"></i> Lokasyon Bul</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="/Admin/Index">Anasayfa</a></li>
                            <li><i class="icon_document_alt"></i>Lokasyon Bul</li>
                        </ol>
                    </div>
                </div>
                <!-- page start-->
                @RenderBody()
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
    </section>
    <!-- container section end -->
    <!-- javascripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- nice scroll -->
    @*<script src="~/Content/NiceAdmin/js/jquery.scrollTo.min.js"></script>
        <script src="~/Content/NiceAdmin/js/jquery.nicescroll.js" type="text/javascript"></script>*@
    <!--custome script for all page-->
    <script src="~/Content/NiceAdmin/js/scripts.js"></script>


</body>

</html>
