﻿@model IEnumerable<AWSServerless_Google_Geocoding_Mvc.Models.Map>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


    var lst = ViewBag.Count as List<AWSServerless_Google_Geocoding_Mvc.Models.Map>;

    System.Web.Script.Serialization.JavaScriptSerializer ser = new System.Web.Script.Serialization.JavaScriptSerializer();

    var myData = ser.Serialize(ViewBag.Count);
}

<style type="text/css">
    @@keyframes spinner-border {
        to {
            transform: rotate(360deg);
        }
    }

    .spinner-border {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        border: .25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
    }

    .spinner-border-sm {
        height: 1rem;
        border-width: .2em;
    }
</style>
<link href="~/Content/DataTables-1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Lokasyon Gir
            </header>
            <div class="panel-body">
                <div class="form">
                    @using (Html.BeginForm("InsertMap", "Admin", FormMethod.Post, new { @id = "location-form", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="cname" class="control-label col-lg-1">Adres <span class="required">*</span></label>
                            <div class="col-lg-10">
                                <input type="text" id="Address" name="Address" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cemail" class="control-label col-lg-1">Enlem <span class="required">*</span></label>
                            <div class="col-lg-10">
                                <input type="text" id="Latitude" name="Latitude" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="curl" class="control-label col-lg-1">Boylam</label>
                            <div class="col-lg-10">
                                <input type="text" id="Longitude" name="Longitude" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-right" style="padding-right:140px">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="button" id="show" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i> Göster</button>
                                    <button type="submit" id="save" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Kaydet</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-12">
                    @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "Myform" }))
                    {
                        <div class="form-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="FileUpload" name="FileUpload">
                                @*<label class="custom-file-label" for="FileUpload"></label>*@
                            </div>
                        </div>
                        <button type="submit" id="Submit" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Yükle</button>
                        <button type="button" id="export" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel'e Aktar</button>
                        @*<input type="hidden" id="count" value="@ViewBag.Count" />*@
                        <br /><br />
                        <ul id="ulList"></ul>
                    }
                    @using (Html.BeginForm("UploadFiles2", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "Myformm" }))
                    {
                        <div class="form-group">
                            <label>Son yüklenen excel dosyası:</label>
                            @*<label id="label"></label>*@

                            <input id="txtBox" type="text" class="form-control" name="FileUploadd" />
                            @*<input type="file" class="custom-file-input" id="FileUploadd" name="FileUpload">*@
                        </div>
                        @*<button type="submit" id="Submitt" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Yükle</button>*@
                    }
                    @TempData["haveuploadfile"]
                </div>
                <br />
                <div class="progress progress-panel">
                    <div id="myBar" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br />
                <div class="card" id="formatted-address">

                </div>
                <div class="card" id="address-components">

                </div>
                <div class="card" id="geometry">

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Lokasyon Listesi
            </header>

            <table class="table table-striped table-advance table-hover" id="mapTable">
                <thead>
                    <tr>
                        @*<th><i class="icon_profile"></i> ID</th>*@
                        <th><i class="fa fa-globe" aria-hidden="true"></i> Enlem</th>
                        <th><i class="fa fa-compass"></i> Boylam</th>
                        <th><i class="icon_pin_alt"></i> Adres</th>
                    </tr>
                </thead>
                <tbody id="tblIcerik">
                    @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserID</td>
                                <td>@item.Latitude</td>
                                <td>@item.Longitude</td>
                                <td>@item.Address</td>
                            </tr>
                        }*@
                </tbody>
            </table>
        </section>
    </div>
</div>
@section Scripts{
    <script src="~/Content/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script type="text/javascript">
    //geocode();
    //get location form
    var locationForm = document.getElementById('location-form');

    //listen for submitform
    //locationForm.on('submit', geocode);

    $("#show").on('click', function () {
        geocode();
        //toastr.success("Kayıt Başarılı", "Başarılı");
    });

    $("#save").on('click', function () {
        $.ajax({
            success: function (result) {
                console.log(result);
                swal({
                    title: "Başarılı!",
                    text: "Kayıt Başarılı!",
                    type: "success",
                    showCancelButtonClass: "btn-primary",
                    confirmButtonText: "OK"
                });
            },
            error: function (err) {
                console.log(err);
                swal({
                    title: "Hata!",
                    text: "Hata Oluştu!",
                    type: "error",
                    showCancelButtonClass: "btn-danger",
                    confirmButtonText: "OK"
                });
            }
        })
    });


    //MapList();
    var tableHtml = "";
    function MapList() {
        $.ajax({
            url: '/Admin/Listele',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                //$("#mapTable").empty();
                //$("#tblIcerik").empty();
                $.each(data, function (i, item) {
                    tableHtml += '<tr>' +
                        '<td>' + item.Latitude + '</td>' +
                        '<td>' + item.Longitude + '</td>' +
                        '<td>' + item.Address + '</td>' +
                        '</tr>';
                });
                //console.log(tableHtml);
                $("#tblIcerik").append(tableHtml);
                $("#mapTable").DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                    }
                });
            },
            error: function (hata, ajaxOptions, thrownError) {
                alert(hata.status);
                alert(thrownError);
                alert(hata.responseText);
            }
        });
    }

    var input = document.getElementById("FileUpload");
    var file_input_label = document.getElementById("file_input_label");
    var loading_btn = document.getElementById("loading_btn");
    $("#export").prop("disabled", true);

    var bar = $('.progress-bar');
    var percent = $('.percent');
    var status = $('#status');
    var files = $("#FileUpload").get(0).files;


    var progress = $('.progress');
    var progressBar = $('.progress-bar');
    var percentVal = '0%';
    var percentValTen = '10%';
    var percentValThirteen = '30%';
    var percentValOneHundred = '100%';
    var loader_icon = $("#loader-icon");

    var current_progress = 0,
        step = 0.5; // the smaller this is the slower the progress bar

    $('#Myform').ajaxForm({
        beforeSend: function () {
            $("#ulList").empty();
            $('.progress-bar').width(percentVal);
            loader_icon.show();
        },
        uploadProgress: function (event, position, total, percentComplete) {
            var fp = $("#FileUpload");
            var lg = fp[0].files.length; // get length
            var items = fp[0].files;
            var fragment = "";
            // disable button
            $("#Submit").prop("disabled", true);
            // add spinner to button
            $("#Submit").html(
                `<span style="@@keyframes spinner-border {
      to { transform: rotate(360deg); }
    }
    .spinner-border{
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        border: .25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
    }
    .spinner-border-sm{
        height: 1rem;
        border-width: .2em;
    }" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Yükleniyor...`
            );
            if (lg > 0) {


                @*var number = '@Html.Raw(Json.Encode(ViewBag.Count))';
                alert(number);*@

                @*var number = @ViewBag.Count;

                console.log(number);*@

                fragment += "<li> Veriler yükleniyor..</li>";

                $("#ulList").append(fragment);
                for (var i = 0; i < lg; i++) {
                    var i = 0;
                    if (i == 0) {
                        i = 1;
                        var elem = document.getElementById("myBar");
                        var width = 0;
                        var id = setInterval(frame, 100);
                        function frame() {
                            if (width >= 100) {
                                swal({
                                    title: "Başarılı!",
                                    text: "Kayıt Başarılı!",
                                    type: "success",
                                    showCancelButtonClass: "btn-primary",
                                    confirmButtonText: "OK"
                                });
                                clearInterval(id);
                                i = 0;
                                elem.style.width = "0%";
                                $("#Submit").prop("disabled", false);
                                $("#export").prop("disabled", false);
                                $("#Submit").html("Yükle");
                                $("#ulList").empty();
                                MapList();
                            } else {
                                width++;
                                elem.style.width = width + "%";
                                elem.innerHTML = width + "%";
                            }
                        }
                    }
                }
            }
        },
        complete: function (xhr) {
            if (xhr.success == true) {

                swal({
                    title: "Başarılı!",
                    text: "Kayıt Başarılı!",
                    type: "success",
                    showCancelButtonClass: "btn-primary",
                    confirmButtonText: "OK"
                });



                //SonEklenenDosya();

            }
        }
            });

    $('#Myformm').ajaxForm({
            beforeSend: function () {
                $("#ulList").empty();
                $('.progress-bar').width(percentVal);
                loader_icon.show();
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var fp = $("#FileUpload");
                var lg = fp[0].files.length; // get length
                var items = fp[0].files;
                var fragment = "";
                // disable button
                $("#Submitt").prop("disabled", true);
                // add spinner to button
                $("#Submitt").html(
                    `<span style="@@keyframes spinner-border {
      to { transform: rotate(360deg); }
    }
    .spinner-border{
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        border: .25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
    }
    .spinner-border-sm{
        height: 1rem;
        border-width: .2em;
    }" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Yükleniyor...`
                );
                if (lg > 0) {


                    @*var number = '@Html.Raw(Json.Encode(ViewBag.Count))';
                    alert(number);*@

                @*var number = @ViewBag.Count;

                    console.log(number);*@

                    fragment += "<li> Veriler yükleniyor..</li>";

                    $("#ulList").append(fragment);
                    for (var i = 0; i < lg; i++) {
                        var i = 0;
                        if (i == 0) {
                            i = 1;
                            var elem = document.getElementById("myBar");
                            var width = 0;
                            var id = setInterval(frame, 100);
                            function frame() {
                                if (width >= 100) {
                                    swal({
                                        title: "Başarılı!",
                                        text: "Kayıt Başarılı!",
                                        type: "success",
                                        showCancelButtonClass: "btn-primary",
                                        confirmButtonText: "OK"
                                    });
                                    clearInterval(id);
                                    i = 0;
                                    elem.style.width = "0%";
                                    $("#Submitt").prop("disabled", false);
                                    $("#export").prop("disabled", false);
                                    $("#Submitt").html("Yükle");
                                    $("#ulList").empty();
                                    MapList();
                                } else {
                                    width++;
                                    elem.style.width = width + "%";
                                    elem.innerHTML = width + "%";
                                }
                            }
                        }
                    }
                }
            },
            complete: function (xhr) {
                if (xhr.success == true) {

                    swal({
                        title: "Başarılı!",
                        text: "Kayıt Başarılı!",
                        type: "success",
                        showCancelButtonClass: "btn-primary",
                        confirmButtonText: "OK"
                    });



                    //SonEklenenDosya();

                }
            }
        });


    @*$("#FileUploadd").change(function (e) {
                var files = e.target.files;
                for (var i = 0; i < files.length; i++) {
                    var fname = files[i].name;
                    if (fname == '@TempData["haveuploadfile"]') {
                        alert(fname + " has been uploaded."); $("#FileUploadd").val("");
                    }
                }
       });*@

    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $.removeCookie('sonYuklenenDosya');
        $.cookie('sonYuklenenDosya', e.target.files[0].name, { expires: 7 });
        var dosyaYolu = $.cookie('sonYuklenenDosya')
        $("#txtBox").val(dosyaYolu);

    });

    $("#export").on('click', function () {
        $.get("/Admin/Export", function (data) {
            console.log(data);
        });
    });

    function geocode() {
        //prevent actual submit

        var location = document.getElementById('Address').value;
        axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
            params: {
                address: location,
                key: 'AIzaSyA1XKIDyLIR82RZSXzizzqmmU8BKE-NhVo'
            }
        })
            .then(function (response) {
                //log full response
                console.log(response);

                //formatted address
                var formattedAddress = response.data.results[0].formatted_address;
                var formattedAddressOutput =
                    '<ul class="list-group">' +
                    '<li class="list-group-item">' + formattedAddress + '</li>' +
                    '</ul>';

                //address components
                var addressComponents = response.data.results[0].address_components;
                var addressComponentsOutput =
                    '<ul class="list-group">';
                for (var i = 0; i < addressComponents.length; i++) {
                    addressComponentsOutput += '<li class="list-group-item"><strong>' + addressComponents[i].types[0] + '</strong>: ' + addressComponents[i].long_name + ' </li>';
                }
                addressComponentsOutput += '</ul>';

                //geometry
                var lat = response.data.results[0].geometry.location.lat;
                var lng = response.data.results[0].geometry.location.lng;
                var geometryOutput =
                    '<ul class="list-group">' +
                    '<li class="list-group-item"><strong>Latitude</strong>: ' + lat + '</li>' +
                    '<li class="list-group-item"><strong>Longitude</strong>: ' + lng + '</li>' +
                    '</ul>';

                document.getElementById('formatted-address').innerHTML = formattedAddressOutput;
                document.getElementById('Address').value = formattedAddress;
                document.getElementById('address-components').innerHTML = addressComponentsOutput;
                document.getElementById('geometry').innerHTML = geometryOutput;
                document.getElementById('Latitude').value = lat;
                document.getElementById('Longitude').value = lng;

            })
            .catch(function (error) {
                console.log(error);
                swal({
                    title: "Hata!",
                    text: "Hata Oluştu!",
                    type: "error",
                    showCancelButtonClass: "btn-danger",
                    confirmButtonText: "OK"
                });
            });
    }


        SonEklenenDosya();
        function SonEklenenDosya() {
            $("#txtBox").empty();
            $("#txtBox").val($.cookie('sonYuklenenDosya'));
        }
    </script>
}
