﻿@model IEnumerable<AWSServerless_Google_Geocoding_Mvc.Models.Map>
@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/DataTables-1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet"/>
<link href="~/Content/NiceAdmin/css/font-awesome.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Lokasyon Listesi
            </header>
            <table border="0" cellspacing="5" cellpadding="5">
                <tbody>
                    <tr>
                        <td><button type="button" id="export" class="btn btn-info"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Tümünü Aktar</button></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-advance table-hover" id="mapTable">
                <thead>
                    <tr>
                        @*<th><i class="icon_profile"></i> ID</th>*@
                        <th><i class="fa fa-globe" aria-hidden="true"></i> Enlem</th>
                        <th><i class="fa fa-compass"></i> Boylam</th>
                        <th><i class="icon_pin_alt"></i> Adres</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>@item.UserID</td>*@
                            <td>@item.Latitude</td>
                            <td>@item.Longitude</td>
                            <td>@item.Address</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<button type="button" id="export" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel'e Aktar</button>*@
        </section>
    </div>
</div>
@section Scripts{
    <script src="~/Content/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mapTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                }
                //"dom": "lBtipr",
                //"buttons": {
                //    "buttons": [
                //        {
                //            "text": "Excel'e Aktar",
                //            "action": function (e, dt, node, config) {
                //                $.get("/Admin/Export", function (data) {
                //                    console.log(data);
                //                });
                //            }
                //        }
                //    ],
                //   "dom": {
                //        "button": {
                //            "tag": "button",
                //            "className": "btn btn-primary"
                //        },
                //        "buttonLiner": {
                //            "tag": null
                //        }
                //    }
                //}
            });
        });
    </script>
    <script type="text/javascript">
        $("#export").on('click', function () {
            $.get("/Admin/Export", function (data) {
                console.log(data);
            });
        });
    </script>
}


